@model Bulletingboard.Requests.Auth.ForgotPasswordRequest

@{
    ViewData["Title"] = "Forgot_Password";
}

<h2>Enter your email</h2>
@if (TempData["ErrMsgForEmail"] is not null)
{
    <div class="alert alert-danger">@TempData["ErrMsgForEmail"]</div>
}
@if (TempData["SuccessMsgForEmail"] is not null)
{
    <div class="alert alert-success">@TempData["SuccessMsgForEmail"]</div>
}

<form asp-action="ForgotPassword" method="post">

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Send Reset Link
    </button>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}