@model Bulletingboard.Requests.Auth.LoginRequest

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div class="text-danger">
        @if (TempData["ErrMsgForLogin"] is not null)
            {
                <div class="alert alert-danger">@TempData["ErrMsgForLogin"]</div>    
            }
        </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <a asp-action="ForgotPassword">Forgot Password</a>
    <a asp-action="LoginWithGoogle">Login With Google</a>
    <button type="submit" class="btn btn-primary">
        Login
    </button>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}