@model Bulletingboard.Requests.User.ChangePasswordRequest

@{
    ViewData["Title"] = "Change_Password";
}

<h2>Login</h2>
@if (TempData["ErrMsgForChangePassword"] is not null)
{
    <div class="alert alert-danger">@TempData["ErrMsgForChangePassword"]</div>
}
<form asp-controller="User" asp-action="ChangePassword" method="post" asp-route-id="">
    <input asp-for="Id" type="hidden" />

    <div class="mb-3">
        <label asp-for="OldPassword" class="form-label"></label>
        <input asp-for="OldPassword" type="password" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" type="password" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Reset
    </button>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}