@{
    ViewData["Title"] = "Bulletinboard";
}

<div class="text-center">
    <h1 class="display-4">Bulletinboard</h1>
    <p class="lead">Manage bulletinboard users without login or authentication.</p>
    <a class="btn btn-primary" asp-controller="User" asp-action="Index">Open User List</a>
</div>
